:root {
  --text-color: #000;
  --text-color-dark: #fff;
  --background-color: #fff;
  --background-color-dark: #292A2D;
  --color-secundary: #EC4A52;
  --color-white: #fff;
  --color-white2: #f4f1ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: background .3s ease-in-out, color ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body { 
  background: var(--background-color); 
  color: var(--text-color); 
}

body .title-home a{
  color: var(--text-color);
  text-decoration: none;
}

.menu__logo {
  font-size: 1.8rem;
  font-weight: 800;
}

/* menu navigation  */
header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 50px;
  position: fixed;
  z-index: 10;
  background: #fff;
}

.toggle__menu {
  display: none;
}

.toggle__menu {
  background: var(--background-color-dark);
}

.toggle__menu svg path{
  stroke: var(--text-color-dark);
}

main {
  padding: 10%;
  padding-bottom: 0;
}

.navigation__mobile {
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__item {
  padding: 10px 20px;
}

.menu__item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}

.menu__item.toggle {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 30px;
}

.toggle__dark-mode {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle__dark-mode img {
  width: 100%;
}

/* elements home  */

.container__home, .container__about, .container__contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hero__title {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.column__left {
  width: 50%;
  padding: 50px;
  padding-top: 50px;
}

.content__welcome {
  width: 80%;
  margin-bottom: 20px;
}

.buttons__home{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
}

.button {
  padding: 10px 30px;
  background: var(--color-secundary);
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.column__right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.image__home {
  width: 440px;
  height: 460px;
  transform: translateX(40px);
}

.circle__background {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: var(--color-secundary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
    /* filter: blur(90px); */
  z-index: -1;
}



/* section about */
.column__right-about {
  width: 50%;
}

.column__left-about {
  width: 50%;
  
}

.image__about {
  width: 80%;
}

.about__content {
  padding: 0 25%;
}

.about__content p {
  margin-bottom: 20px;
}

/* section project */
.container__projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15%;
}

.project {
  width: calc(100% / 3.5);
  display: flex;
  flex-wrap: wrap;
  background: var(--background-color-dark);
  padding: 20px;
  color: var(--text-color-dark);
  border-radius: 5px;
  position: relative;
  margin-bottom: 70px;
}

.project__santahat {
  position: absolute;
  top: -70px;
  right: -60px;
  width: 140px;
  transform: rotateZ(15deg) rotateY(-180deg);
}

.project__tecnologies {
  position: absolute;
  top: -15px;
  left: 0;
  height: 30px;
}

.project__tecnologies img {
  height: 32px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.project__image {
  width: 100%;
  height: 157px;
  object-fit: cover;
}

.project__name {
  font-size: 1.1rem;
  margin-top: 10px;
}

.project__description {
  font-size: .9rem;
  margin: 10px 0;
  min-height: 84px;
}

.project__deploy, .project__repository {
  text-decoration: none;
  background: var(--color-secundary);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: transform .3s ease;
}

.project__deploy:hover, .project__repository:hover {
  transform: scale(1.05);
}
.project__deploy:active, .project__repository:active {
  transform: scale(.9);
}

.project__deploy img {
  width: 24px;
  height: 24px;
  filter: invert();
}

.project__repository img{
  width: 24px;
  height: 24px;
  filter: invert();
}

/* section skills */

.container__skills {
  padding-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__background {
  width: 440px;
  transform: translateX(50px);
}

.skill__column-left, .skill__column-center, .skill__column-right {
  width: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__icon {
  width: 64px;
  height: 64px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background: var(--background-color-dark);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.container__gift-box {
  position: absolute;
  bottom: 20px;
}
.skill__gift-box {
  width: 100px;
  margin-left: -20px;
}

.container__contact { 
  display: flex;
  flex-wrap: wrap;
}

.contact__column__left {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.contact__social-media {
  padding: 50px 50px 50px 200px;
  display: flex;
  flex-wrap: wrap;
}

.social__media {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.contact__column__right {
  width: 50%;
}

.contact__image {
  width: auto;
  height: 100%;
}

.contact__boy, .contact__phone {
  height: 350px;
  width: 210px;
}



.name__section {
  font-size: 4rem;
  font-weight: 800;
  color: #e6e6e6;
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: -1;
}

@media screen and (max-width: 1020px) {
  .image__home {
    width: 460px;
    height: 460px;
    transform: translateX(50px);
  }

  .buttons__home .button {
    margin-bottom: 20px;
  }

  .circle__background {
    width: 400px;
    height: 400px;
    top: 5%;
    left: 0;
  }

  .about__content {
    padding: 0 5%;
  }

  .project {
    width: calc(100% / 2.2);
  }

  .project__santahat {
    top: -60px;
    right: -50px;
    width: 120px;
  }

  .skills__background {
    width: 300px;
  }

  .skills__icon {
    width: 48px;
    height: 48px;
  }

  .contact__column__left .contact__social-media {
    padding: 20px;
  }

  .contact__image {
    margin: auto;
    display: flex;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .toggle__menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
  }

  .toggle__menu img, .toggle__menu svg{
    width: 50%;
  }

  .toggle__menu svg path {
    transition: all .3s ease;
  }

  body.open {
    overflow: hidden;
  }

  body.open svg path {
    d: path("M50 30L 50 30 M50 50 L 0 0 M0 50 L 50 0");
  }

  header {
    padding: 0 10px;
    height: 70px;
    transition: height .3s ease;
  }

  .open header {
    height: 100vh;
    display: block;
  }

  header .title-home {
    height: 70px;
  }

  header .title-home {
    padding: 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .menu__item { 
    padding: 30px 20px;
    width: 100%;
  }

  .menu__item.toggle {
    height: 65px;
    padding: 20px;
  }

  .column__left {
    order: 2;
  }

  .menu__list {
    transition: .3s transform ease;
    transform: translateX(100%);
    position: absolute;
    top: 70px;
  }

  .open .menu__list {
    transform: translateX(0%);
  }

  section.container__home {
    padding-top: 50px;
  }

  .column__left, .column__right {
    width: 100%;
  }
  
  .column__left {
    padding: 50px 0;
  }

  .content__welcome {
    width: 100%;
  }

  .buttons__home {
    width: 100%;
  }

  .column__right .image__home {
    width: 300px;
    height: 310px;
    transform: translateX(30px);
  }

  .circle__background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .about__content {
    padding: 0;
  }

  .project {
    width: 100%;
  }

  .project__santahat {
    width: 70px;
    top: -39px;
    right: -29px;
  }

  .container__skills {
    padding-top: 50px;
  }

  .skill__column-left, .skill__column-right, .skill__column-center {
    width: 100%;
    margin-bottom: 20px;
  }

  .skill__column-left {
    order: 2;
  }

  .skill__column-center {
    margin-bottom: 50px;
  }

  .skills__background {
    width: 100%;
    margin-top: 20px;
    transform: translateX(25px);
  }

  .contact__column__left {
    width: 100%;
  }

  .contact__social-media {
    padding: 0;
  }

  .contact__column__right {
    width: 100%;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;

  }
  
  .contact__image {
    width: 100%;
  }

}


@media screen and (max-width: 320px) {
  
}

@media (prefers-color-scheme: dark) {

  body.dark { 
    background: var(--background-color-dark); 
    color: var(--text-color-dark); 
  }

  .dark header {
    background: var(--background-color-dark); 
    color: var(--text-color-dark); 
  }

  .dark .menu__item a{
    color: var(--text-color-dark); 
  }

  .dark .name__section {
    color: #ffffff21;
  }

  .dark .skills__icon {
    background: var(--color-white2);
  }

  .dark .project {
    background:var(--color-white2);
    color: var(--text-color);
  }

  .dark .title-home a{
    color: var(--text-color-dark);
  }

  .dark .toggle__menu {
    background: var(--background-color);
  }

 .dark .toggle__menu svg path{
    stroke: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  body.dark { 
    background: var(--background-color-dark); 
    color: var(--text-color-dark); 
  }

  .dark header {
   background: var(--background-color-dark); 
    color: var(--text-color);
  }

  .dark .menu__item a{
    color: var(--text-color-dark); 
  }

  .dark .name__section {
    color: #ffffff21;
  }

  .dark .skills__icon {
    background: var(--color-white2);
  }

  .dark .project {
    background:var(--color-white2);
    color: var(--text-color);
  }

  .dark .title-home a{
    color: var(--text-color-dark);
  }

  .dark .toggle__menu {
    background: var(--background-color);
  }

 .dark .toggle__menu svg path{
    stroke: var(--text-color);
  }
}